*{
  font-family: 'Urbanist', sans-serif;
}
.content{
  max-width: 1400px;
  margin-left: auto;
  margin-right: auto;
}
a{
  text-decoration: none;
}
/*BACKGROUND*/
.background{
  background-image: linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)),url("images/bg.png");
  width: 100vw;
  position: fixed;
  z-index: -2;
  height: 100vh;
  background-size: cover;
  max-height: 100vh;
}
.whitebackground{
  position: fixed;
  width: 100%;
  height: 0px;
  background-color: white;
  bottom: 0;
  z-index: -1;
}
.svgpath svg{
    position: absolute;
    width: 100%;
    top: 39rem;
    z-index: -1;
    background-clip: border-box;  
}
/*HEADER*/
.header{
  display: flex;
  justify-content: center;
  color: white;
  z-index: 4;
}
.logo img{
  height: 25px;
  margin-left: 80px;
  margin-right: 80px;
  margin-top: 40px;
}
.dropdown{
  margin-left: 8px;
  margin-right: 8px;
  margin-top: 30px;
  padding: 10px;
  font-weight: 600;
}
.dropdown a{
  cursor: pointer;
}
.dropdown a:hover{
  opacity: 0.7;
}
.hamburger{
  display: none;
}
.sticky {
  position: fixed;
  top: 0;
  width: 100% 
}
/*DROPDOWN 1*/
.dropdown img{
  width: 199px;
  border-radius: 15px;
  padding: 7px;
  cursor: pointer;
  transition: 0.5s;
}
@keyframes dropdown1 {
  from {
    transform: translate(-15%, 5%);
    opacity: 0;
  }
  to {
    transform: translate(-15%,0);
    opacity: 100;
  }
}
.dropdown-content-block{
  display: none;
  position: absolute;
  min-height: 400px;
  width: 1300px;
  padding: 10px;
  transform: translate(-15%);
  animation-name: dropdown1;
  animation-duration: 0.3s;
  
}
.visable-content-block{
  background-color: #2e353f;
  border-radius: 15px;
  padding: 30px;
}
.dropdown img:hover{
  transform: translateY(-6%);
  
}
.dropdown:hover .dropdown-content-block {
  display: block;
}
@media screen and (max-width: 1330px){
  .dropdown-content-block{
    width: 1200px;
    left: 60px;
  }
  .dropdown img{
    width: 182px;
    border-radius: 15px;
    padding: 7px;
  }
}
@media screen and (max-width: 1216px){
  .dropdown-content-block{
    width: 1000px;
    left: 132px;
  }
  .dropdown img{
    width: 149px;
    border-radius: 15px;
    padding: 5px;
  }
}
/*DROPDOWN 2*/
@keyframes dropdown2 {
  from {
    transform: translate(-10%,5%);
    opacity: 0;
  }
  to {
    transform: translate(-10%,0%);
    opacity: 100;
  }
}
.dropdown2-container{
  display: none;
  position: absolute;
  width: 220px;
  height: 335px;
  transform: translate(-10%, 0%);
  animation-name: dropdown2;
  animation-duration: 0.5s;
}
.dropdown2{
  position: absolute;
  padding-top: 20px;
  padding-bottom: 20px;
  width: 200px;
  background-color: white;
  left: 5%;
  top: 3.5%;
  border-radius: 15px;
  font-weight: 600;
  color: rgb(59, 59, 59);
  box-shadow: 0 1px 20px 1px rgba(0, 0, 0, 0.1);
}
.dropdown2 a{
  display: inline-block;
  padding-left: 25px;
  padding-right: 30px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.dropdownBox-container{
  transform: translate(-10%);
  display: none;
  position: absolute;
  animation-name: dropdown2;
  animation-duration: 0.5s;
}
.dropdownBox{
  position: relative;
  display: flex;
  padding:  20px 30px;
  margin: 10px;
  background-color: white;
  border-radius: 15px;
  box-shadow: 0 1px 20px 1px rgba(0, 0, 0, 0.1);
}
.projectsCol1{
  padding: 0 50px 0 10px;
  border-right: solid 1px #e6e6e6;
  display: flex;
  flex-direction: column;
}
.projectsCol2{
  padding: 0 10px 0 50px;
  display: flex;
  flex-direction: column;
}
.dropBlogs{
  display: flex;
  flex-direction: column;
}
.blogs-right{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.dropBlogs a, .projectsCol1 a, .projectsCol2 a{
  font-weight: 600;
  color: rgb(59, 59, 59);
  margin: 5px 0;
  white-space: nowrap;
}
.dropdownBox a:hover{
  color: #a17cc5;
}
.firstInBox{
  margin: 50px;
}
.dropdownBox p{
  color: #a17cc5;
  margin: 8px 0px;
}
.hoverpurple a:hover span {
  color: #a17cc5;
  opacity: 100;
}
.dropdown2 i{
 transform: translate(140px);
}
.dropdown:hover .dropdown2-container, .dropdown:hover .dropdownBox-container {
  display: inline-block;
}
@keyframes sidedropdown {
  from {
    transform: translateY(5%);
    opacity: 0;
  }
  to {
    transform: translateY(0%);
    opacity: 100;
  }
}
.sidedrop-container{
  display: none;
  position: absolute;
  width: 220px;
  height: 120px;
  left: 100%;
  top: 15px;
  animation-name: sidedropdown;
  animation-duration: 0.3s;
}
.sidedrop{
  position: absolute;
  padding-top: 10px;
  padding-bottom: 10px;
  width: 200px;
  background-color: white;
  left: 5%;
  top: 10px;
  border-radius: 15px;
  font-weight: 600;
  color: rgb(59, 59, 59);
  box-shadow:0 1px 20px 1px rgba(0, 0, 0, 0.1);
}
.firstsidedrop:hover .sidedrop-container{
  display: inline-block;
}
.second-container{
  top: 28px;
}
.secondsidedrop:hover .sidedrop-container{
  display: inline-block;
}
.third-container{
  top: 43px;
}
.thirdsidedrop:hover .sidedrop-container{
  display: inline-block;
}
.fourth-container{
  top: 62px;
}
.fourthsidedrop:hover .sidedrop-container{
  display: inline-block;
}
.fith-container{
  top: 78px;
}
.fithsidedrop:hover .sidedrop-container{
  display: inline-block;
}
.sixth-container{
  top: 95px;
}
.sixthsidedrop:hover .sidedrop-container{
  display: inline-block;
}
/*INDEX CONTENT*/
.index-h1{
  display: flex;
  justify-content: center;
  color: white;
  text-align: center;
  width: 55rem;
  margin-top: 5rem;
}
.index-h1 h1{
  font-size: 3.5rem;
  font-weight: 600;
}
.h4text{
  padding-top: 1rem;
  width: 35rem;
  text-align: center;
  color: white;
}
.readmore-btn-container{
  display: flex;
  justify-content: center;
  margin-top: 2rem;
}
.readmore-btn{
  color: #343f53;
  font-size: 1rem;
  font-weight: 600;
  padding: 0.75rem 1.5rem;
  border-radius: 5px;
}
.readmore-btn:hover{
  transform: translateY(-0.25rem);
  color: #343f53;
}
/*FOURDISPLAYS*/
  .card-container{
    background-color: white;
    width: 100%;
    padding: 2.5rem;
    border-radius: 10px;
    box-shadow: 0 1px 20px 1px rgba(0, 0, 0, 0.1)
  }
  .bound-spacing{
    margin-top: 8vh;
  }
  .fa-file-lines{
    font-size: 2.5rem;
    color: #e668b3;
    padding-bottom: 1rem;
  }
  .fa-people-group{
    font-size: 2.5rem;
    color: #a17cc5;
    padding-bottom: 1rem;
  }
  .fa-lightbulb{
    font-size: 2.5rem;
    color: #f78a77;
    padding-bottom: 1rem;
  }
  .fa-box{
    font-size: 2.5rem;
    color: #46c4a0;
    padding-bottom: 1rem;
  }
  .span-pink{
    color: #e668b3;
  }
  .span-purple{
    color: #a17cc5;
  }
  .span-orange{
    color: #f78a77;
  }
  .span-green{
    color: #46c4a0;
  }
  .card-text-container{
    margin-top: 0.75rem;
  }
  .card-container h3{
    font-size: 1.25rem;
    font-weight: 600;
  }
  .card-container p{
    font-size: 1.1rem;
    font-weight: 500;
    color: #60697b;
  }
/*PAGE 2*/
.page2-spacing{
  margin-top: 8%;
  margin-bottom: 3%;
}
.pagetwoheaders{
  display: flex;
  justify-content: center;
  text-align: center;
  width: 40rem;
  letter-spacing: 1px;
}
.pagetwoheaders h6{
  color: #aab0bc;
}
.pagetwoheaders h1{
  font-weight: 600;
  color: #343f52;
}
.threeboxes{
  display: flex;
  width: 100%;
  padding: 1.5rem;
  background-color: white;
  border-radius: 10px;
  cursor: pointer;
}
.threeboxes h5{
  font-weight: 600;
  margin-top: 0.5rem;
}
.threeboxes p{
  font-size: 1.2rem;
  opacity: 0.8;
  font-weight: 500;
}
.threeboxes:hover{
  box-shadow: 0 1px 20px 1px rgba(0, 0, 0, 0.1)
}
.threeboxes i{
  font-size: 2.5rem;
  transform: translateY(30%);
}
.boxone i{
  color: #e668b3;
}
.boxtwo i{
  color: #a17cc5;
}
.iconholder{
  margin-right: 0.5rem;
}
.threeboxes .iconholder{
  width: 20%;
  height: 100%;
  padding-right: 5px;
}
/*CHANGING CONTENT*/

.changespacing{
  margin-top: 3rem;
}
.changeimg img{
  border-radius: 10px;
  width: 100%;
}
.changeimg{
  width: 100%;
}
.changetext{
  padding: 5px;
  margin-left: 1rem;
  width: 100%;
}
.changetext p{
  opacity: 0.8;
  font-weight: 500;
  margin: 0.5rem;
  font-size: 1.2rem;
}
.changetext i{
  color: #fbe4f1;
  background-color: #e668b3;
  border-radius: 50%;
  margin-right: 0.5rem;
}
.changetext h3{
  font-weight: 600;
  opacity: 90%;
  margin-bottom: 1rem;
}
.learnmore-btn{
  background-color: #e668b3;
  color: white;
  border-radius: 10px;
  font-weight: 600;
  font-size: 1rem;
  padding: 0.8rem 2rem;
  margin-top: 1rem;
}
/*MEDIUM/TABLET*/
@media screen and (max-width: 991px){
    .content{
    max-width: 95%;
    }
    .row{
      width: 100%;
      margin: 0;
    }
    .col-sm-9{
      width: 100%;
    }
    .centerflex{
      display: flex;
      justify-content: center;
    }
    .whitebackground{
      height: 0px;
    }
    .background{
      position: absolute;
      height: 800px;
    }
    /*INDEX*/
    .index-h1{
    width: 80%;
    }
    .index-h1 h1{
      font-size: 3rem;
    }
    .h4text{
      width: 90%;
    }
     /*HEADER*/
    .dropdown{
      display: none;
    }
    .header{
      justify-content: left;
    }
    .hamburger{
      display: block;
      margin-left: auto;
      margin-top: auto;
      margin-right: 40px;
    }
    /*FOURDISPLAYS*/
    .card-container{
      margin-top: 2rem;
      width: 100;
    }
    .cardwidth{
      width: 50%;
    }
    /*CHANGE CONTENT*/
    .changingcontentcol{
      width: 100%;
      margin-bottom: 1rem;
    }
}
@media screen and (max-width: 600px){
  .cardwidth{
    width: 100%;
  }
}